-
    var books = [
        {
            name: "Истребитель",
            author: "Быков Д.",
            description: "Роман о советских летчиках, 'соколах Сталина'",
            stars: "3.9",
            link: "#",
            pages: "576 страниц",
            img: `${pathContentImg}book-istrebitel.jpg`,
            width: "275",
            height: "320"
        },
        {
            name: "Чувство стыда",
            author: "Санд И.",
            description: "Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими",
            stars: "4.1",
            link: "#",
            pages: "170 страниц",
            img: `${pathContentImg}book-feelings-of-shame.jpg`,
            width: "275",
            height: "320"
        },
        {
            name: "Вторая жизнь Уве",
            author: "Бакман Ф.",
            description: "Откуда берутся зануды и склочники? Внутри зреет обида на мир",
            stars: "4.4",
            link: "#",
            pages: "384 страницы",
            img: `${pathContentImg}book-second-life.jpg`,
            width: "275",
            height: "320"
        },
        {
            name: "Transhumanism inc.",
            author: "Пелевин В.",
            description: "В будущем богатые люди смогут отделить свой мозг от старящегося тела",
            stars: "3.9",
            link: "#",
            pages: "608 страниц",
            img: `${pathContentImg}book-transhumanism.jpg`,
            width: "275",
            height: "320"
        },
    ]