-
    var books = [
        {
            name: "Жизнь в удовольствие",
            author: "Палиенко А.",
            description: "Автор собрал в этой книге все свои знания, актуальные в современном мире",
            stars: "3.5",
            link: "#",
            pages: "208",
            img: `${pathContentImg}a-life-of-pleasure.jpg`,
            width: "275",
            height: "320"
        },
        {
            name: "Королевство",
            author: "Несбё Ю.",
            description: "В норвежском городке, затерянном в горах, течет сонная, мирная жизнь",
            stars: "4.8",
            link: "#",
            pages: "576",
            img: `${pathContentImg}book-kingdoms.jpg`,
            width: "275",
            height: "320"
        },
        {
            name: "Transhumanism inc.",
            author: "Пелевин В.",
            description: "В будущем богатые люди смогут отделить свой мозг от старящегося тела",
            stars: "3.9",
            link: "#",
            pages: "608",
            img: `${pathContentImg}book-transhumanism.jpg`,
            width: "275",
            height: "320"
        },
        {
            name: "Чувство стыда",
            author: "Санд И.",
            description: "Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими",
            stars: "4.1",
            link: "#",
            pages: "170",
            img: `${pathContentImg}book-feelings-of-shame.jpg`,
            width: "275",
            height: "320"
        }
    ]